tmp/*

docs/*.pdf
*.gif

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.xdv
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

LaTeX_Workspace/build/
